spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/swastikairhub
    username: postgres
    password: 6441
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.PostgreSQL81Dialect
    show-sql: false
    open-in-view: false
  mail:
    host: smtp.gmail.com
    username: niranjanthapa6441@gmail.com
    password: fkaznzkhhiqvshbe
    port: 587
    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
    debug: true
server:
  servlet:
    context-path: /swastikairhub/api/v1
  port: 8083
bezkoder:
  app:
    jwtSecret: bezKoderSecretKey
    jwtExpirationMs: 86400000